﻿<div class="cari-delete-modal modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger-800">
                <button ng-click="cari.init()" type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Cari Bilgisi Silme</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6" ng-class="cari.cari.cls">
                                    <label>Cari Adı</label>
                                    <input type="text" class="form-control" ng-model="cari.cari.value" maxlength="512" disabled>
                                    <span class="help-block">{{cari.cari.msg}}</span>
                                </div>
                                <div class="col-sm-6" ng-class="cari.aciklama.cls">
                                    <label>Açıklama</label>
                                    <input type="text" class="form-control" ng-model="cari.aciklama.value" maxlength="512" disabled>
                                    <span class="help-block">{{cari.aciklama.msg}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Durumu</label>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" disabled>
                                        <i ng-class="cari.state.icon.cls"></i> {{cari.state.name}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="cari.state.select(cari.state.active)" ng-class="cari.state.active.anchor.cls"><i ng-class="cari.state.active.icon.cls"></i> {{cari.state.active.name}}</a></li>
                                        <li><a ng-click="cari.state.select(cari.state.passive)" ng-class="cari.state.passive.anchor.cls"><i ng-class="cari.state.passive.icon.cls"></i> {{cari.state.passive.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="cari.init()" type="button" class="btn btn" data-dismiss="modal" style="background-color:#dfdfe8">İptal</button>
                    <button ng-click="cari.delete()" type="button" class="btn bg-danger-800" id="savebuton">Sil</button>
                </div>
            </div>
        </div>
    </div>
</div>