﻿<div class="flans-agirlik-modal modal fade2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button ng-click="teklif.init()" type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Flanş Ağırlık Hesapla</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-class="teklif.en.cls">
                                    <label style="font-size:14px;">En(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.en.value" ng-change="teklif.en.change()">
                                    <span class="help-block">{{teklif.en.msg}}</span>
                                </div>
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-class="teklif.boy.cls">
                                    <label style="font-size:14px;">Boy(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.boy.value" ng-change="teklif.boy.change()">
                                    <span class="help-block">{{teklif.boy.msg}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-class="teklif.etkalinligi.cls">
                                    <label style="font-size:14px;">Et Kalınlığı(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.etkalinligi.value" ng-change="teklif.etkalinligi.change()">
                                    <span class="help-block">{{teklif.etkalinligi.msg}}</span>
                                </div>
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-class="teklif.materyal.cls">
                                    <label style="font-size:14px;">Materyal</label>
                                    <select class="form-control" ng-options="materyal as materyal.name for materyal in teklif.materyal.list track by materyal.value" ng-model="teklif.materyal.selected" ng-change="teklif.materyal.change()"></select>
                                    <span class="help-block">{{teklif.materyal.msg}}</span>
                                </div>
                            </div>
                            <label style="font-size:11px; color: gray; margin-left: 2%" disabled>Ondalıklı sayılar için nokta kullanınız.</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="teklif.init()" type="button" class="btn btn" data-dismiss="modal" style="background-color:#dfdfe8">İptal</button>
                    <button ng-click="teklif.save()" type="button" class="btn bg-success" id="savebuton">Hesapla</button>
                </div>
            </div>
        </div>
    </div>
</div>