﻿<div ng-class="$ctrl.componentClass + hammadde.cls">
    <!--<label>{{$ctrl.inputLabel}}</label>-->
    <input class="form-control" type="text" autocomplete="off" ng-model="$ctrl.inputValue" ng-focus="hammadde.focus($event)" ng-blur="hammadde.blur()" ng-change="hammadde.filter.change()" ng-disabled="$ctrl.hammaddedisabled" />
    <div dir="ltr" class="option-container" ng-style="hammadde.options.container.style" ng-class="hammadde.options.container.cls">
        <h6 class="text-center text-muted text-size-small" ng-show="!hammadde.options.isExist"><i class="text-warning icon-warning"></i> Kayıt bulunmuyor!</h6>
        <ul class="dropdown-menu">
            <li ng-repeat="_hammadde in hammadde.options.list">
                <a href="#" ng-click="hammadde.options.click(_hammadde)">
                    <div class="row">
                        <div class="col-md-12">
                            <p dir="ltr" ng-bind-html="_hammadde.HAMMADDEYARIMAMULADIDROPDOWN"></p><!--boru, mil... hammadde_proc-->
                        </div>
                        <!--<div class="col-md-6">
                            <p dir="rtl" class="text-right" ng-bind-html="_hammadde.TITLEARDROPDOWN"></p>
                            <span dir="rtl" class="pull-right text-muted text-size-small" ng-bind-html="_hammadde.NAMEARDROPDOWN + ' ' + _hammadde.SURNAMEARDROPDOWN"></span>
                        </div>-->
                    </div>
                </a>
            </li>
            <li><button class="btn btn-block btn-default text-primary" ng-click="hammadde.options.more.load()" ng-focus="hammadde.options.more.focus()" ng-blur="hammadde.options.more.blur()"><i class="icon " ng-class="hammadde.options.isExist && !hammadde.options.page.isLastPage ? 'icon-circle-down2' : 'icon-blocked'"></i></button></li>
        </ul>
    </div>
    <!--<span class="help-block">{{$ctrl.inputMessage}}</span>-->
</div>