﻿<ul class="fab-menu fab-menu-fixed" ng-class="cls" ng-show="visibility">
    <li>
        <a class="fab-menu-btn btn bg-primary btn-float btn-rounded btn-icon" ng-click="show.modal()">
            <i class="fab-icon-open icon-plus3"></i>
        </a>
    </li>
</ul>
