﻿<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12">
                <form class="heading-form">
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Filtrele" ng-model="ip.filter.value" ng-change="ip.filter.change()" ng-disabled="ip.filter.allowAll.value" /><!--Filtrele-->
                        <div class="form-control-feedback">
                            <i class="icon-search4"></i>
                        </div>
                    </div>
                    <div class="form-group checkbox checkbox-switchery">
                        <label>
                            <input type="checkbox" class="switchery-warning" ng-model="ip.filter.allowAll.value" ng-change="ip.filter.allowAll.change()" />
                            <span></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="heading-elements">
            <div class="heading-btn">
                <button ng-click="ip.load()" ng-disabled="ip.filter.allowAll.value" class="btn btn-default btn-flat btn-icon no-border"><i class="icon-reload-alt"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatable-highlight">
                <thead>
                    <tr class="bg-grey-800">
                        <th>Aktif-Pasif</th>
                        <th>Lokal</th>
                        <th>IP Adres</th>
                        <th>Port</th>
                        <th>Protokol</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan Kullanıcı</th>
                        <th>Son Güncellenme Tarihi</th>
                        <th>Son Güncelleyen Kullanıcı</th>
                        <th class="text-center"><i class="icon-menu-open2"></i></th>
                    </tr>
                </thead>
                <tbody ng-show="!ip.isExist && !ip.filter.allowAll.value">
                    <tr>
                        <td colspan="15"><h6 class="text-center text-muted"><i class="icon-warning text-warning"></i>Sistemde ip bulunmuyor!</h6></td>
                    </tr>
                </tbody>
                <tbody ng-show="!ip.filter.allowAll.value">
                    <tr ng-repeat="_ip in ip.list">
                        <td class="text-nowrap"><i ng-class="_ip.ACTIVECLS"></i> {{_ip.ACTIVETXT}}</td>
                        <td class="text-nowrap">{{_ip.LOCALTXT}}</td>
                        <td class="text-right">{{_ip.ADDRESS}}</td>
                        <td class="text-right">{{_ip.PORT}}</td>
                        <td class="text-right">{{_ip.PROTOCOL}}</td>
                        <td class="text-nowrap">{{_ip.CREATEDATETXT}}</td>
                        <td class="text-nowrap">{{_ip.CREATEUSER}}</td>
                        <td class="text-nowrap">{{_ip.MODIFYDATETXT}}</td>
                        <td class="text-nowrap">{{_ip.MODIFYUSER}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn bg-orange-400 btn-icon" ng-click="ip.show.update(_ip);"><i class="icon-pencil7"></i></button>
                                <button type="button" class="btn btn-danger btn-icon" ng-click="ip.show.delet(_ip);"><i class="icon-cancel-square"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="ip.filter.allowAll.value">
                    <tr>
                        <td colspan="15"><h6 class="text-center text-muted"><i class="icon-warning text-warning"></i>Sistemde IP kısıtlaması bulunmuyor!</h6></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-center bootpag-flat" ng-show="!ip.filter.allowAll.value"></div>
    </div>
</div>