﻿<div class="ip-modify-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-orange-400">
                <button ng-click="ip.init()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">IP Güncelleme</h6>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6" ng-class="ip.address.cls">
                            <label>IP Adres</label>
                            <input type="text" class="form-control" ng-model="ip.address.value" ng-change="ip.address.change()">
                            <span class="help-block">{{ip.address.msg}}</span>
                        </div>
                        <div class="col-sm-6">
                            <label>Port</label>
                            <input type="text" class="form-control" ng-model="ip.port.value">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Protokol</label>
                            <input type="text" class="form-control" ng-model="ip.protocol.value">
                        </div>
                        <div class="col-sm-6 text-right padding-top-28">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    {{ip.local.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="ip.local.select(ip.local.no)" ng-class="ip.local.no.anchor.cls"> {{ip.local.no.name}}</a></li>
                                    <li><a ng-click="ip.local.select(ip.local.yes)" ng-class="ip.local.yes.anchor.cls"> {{ip.local.yes.name}}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i ng-class="ip.state.icon.cls"></i> {{ip.state.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="ip.state.select(ip.state.active)" ng-class="ip.state.active.anchor.cls"><i ng-class="ip.state.active.icon.cls"></i> {{ip.state.active.name}}</a></li>
                                    <li><a ng-click="ip.state.select(ip.state.passive)" ng-class="ip.state.passive.anchor.cls"><i ng-class="ip.state.passive.icon.cls"></i> {{ip.state.passive.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button ng-click="ip.init()" type="button" class="btn btn-link" data-dismiss="modal">Kapat</button>
                <button ng-click="ip.modify()" type="button" class="btn bg-orange-400">Güncelle</button>
            </div>
        </div>
    </div>
</div>