﻿<div ng-class="$ctrl.componentClass + kullanici.cls">
    <label>{{$ctrl.inputLabel}}</label>
    <input class="form-control" type="text" autocomplete="off" ng-model="$ctrl.inputValue" ng-focus="kullanici.focus($event)" ng-blur="kullanici.blur()" ng-change="kullanici.filter.change()" ng-disabled="$ctrl.kullanicidisabled" />
    <div dir="ltr" class="option-container" ng-style="kullanici.options.container.style" ng-class="kullanici.options.container.cls">
        <h6 class="text-center text-muted text-size-small" ng-show="!kullanici.options.isExist"><i class="text-warning icon-warning"></i> Kayıt bulunmuyor!</h6>
        <ul class="dropdown-menu">
            <li ng-repeat="_kullanici in kullanici.options.list">
                <a href="#" ng-click="kullanici.options.click(_kullanici)">
                    <div class="row">
                        <div class="col-md-12">
                            <p dir="ltr" ng-bind-html="_kullanici.USERNAME"></p>
                        </div>
                        <!--<div class="col-md-6">
                            <p dir="rtl" class="text-right" ng-bind-html="_kullanici.TITLEARDROPDOWN"></p>
                            <span dir="rtl" class="pull-right text-muted text-size-small" ng-bind-html="_kullanici.NAMEARDROPDOWN + ' ' + _kullanici.SURNAMEARDROPDOWN"></span>
                        </div>-->
                    </div>
                </a>
            </li>
            <li><button class="btn btn-block btn-default text-primary" ng-click="kullanici.options.more.load()" ng-focus="kullanici.options.more.focus()" ng-blur="kullanici.options.more.blur()"><i class="icon " ng-class="kullanici.options.isExist && !kullanici.options.page.isLastPage ? 'icon-circle-down2' : 'icon-blocked'"></i></button></li>
        </ul>
    </div>
    <!--<span class="help-block">{{$ctrl.inputMessage}}</span>-->
</div>