﻿<div class="modifycomponent-boru-modal modal fade2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button ng-click="teklif.init()" type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Boru Ağırlık Hesapla</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-class="teklif.boy.cls">
                                    <label style="font-size:14px;">Boyu(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.boy.value" ng-change="teklif.boy.change()">
                                    <span class="help-block">{{teklif.boy.msg}}</span>
                                </div>
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-show="teklif.showcap" ng-class="teklif.cap.cls">
                                    <label style="font-size:14px;">Dış Çapı(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.cap.value" ng-change="teklif.cap.change()">
                                    <span class="help-block">{{teklif.cap.msg}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 no-margin-top" ng-show="teklif.showetkalinligi" ng-class="teklif.etkalinligi.cls">
                                    <label style="font-size:14px;">Et Kalınlığı(mm)</label>
                                    <input type="text" class="form-control" ng-model="teklif.etkalinligi.value" ng-change="teklif.etkalinligi.change()">
                                    <span class="help-block">{{teklif.etkalinligi.msg}}</span>
                                </div>
                            </div>
                            <label style="font-size:11px; color: gray; margin-left: 2.2%" disabled>Ondalıklı sayılar için nokta kullanınız.</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="teklif.init()" type="button" class="btn btn" data-dismiss="modal" style="background-color:#dfdfe8">İptal</button>
                        <button ng-click="teklif.save()" type="button" class="btn bg-success" id="savebuton">Hesapla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>