﻿<div class="navbar navbar-inverse">
    <div class="navbar-header" ng-class="navbar.cls.logo.div">
        <!--<a class="navbar-brand logo" ng-class="navbar.cls.logo.a"><img src="assets/images/logo.png" alt="logo" class="logo img-rounded"></a>-->
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav" ng-class="navbar.cls.menuBtn">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs" ng-click="navbar.toogleMenu()"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
        <div ng-class="navbar.cls.dropdown.div">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{$ctrl.username}}</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" ng-class="navbar.cls.dropdown.menu">
                        <li><a ng-href="{{$ctrl.profilePath}}"><i class="icon-user" ng-class="navbar.cls.dropdown.icon"></i> {{$ctrl.profileName}}</a></li>
                        <li><a ng-click="navbar.logout()"><i class="icon-switch2" ng-class="navbar.cls.dropdown.icon"></i> {{$ctrl.logoutText}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>