﻿<!-- Profile info -->
<div class="panel panel-flat">
    <div class="panel-body">
        <form action="#">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4" ng-class="profile.username.cls">
                        <label>{{profile.systemMessages[712][profile.language.selected.value.toUpperCase()]}}</label><!--Kullanıcı Adı-->
                        <input type="text" class="form-control" ng-model="profile.username.value" ng-change="profile.username.change()">
                        <span class="help-block">{{profile.username.msg}}</span>
                    </div>
                    <div class="col-md-4" ng-class="profile.name.cls">
                        <label>{{profile.systemMessages[713][profile.language.selected.value.toUpperCase()]}}</label><!--Adı-->
                        <input type="text" class="form-control" ng-model="profile.name.value" ng-change="profile.name.change()">
                        <span class="help-block">{{profile.name.msg}}</span>
                    </div>
                    <div class="col-md-4" ng-class="profile.surname.cls">
                        <label>{{profile.systemMessages[714][profile.language.selected.value.toUpperCase()]}}</label><!--Soyadı-->
                        <input type="text" class="form-control" ng-model="profile.surname.value" ng-change="profile.surname.change()">
                        <span class="help-block">{{profile.surname.msg}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>{{profile.systemMessages[716][profile.language.selected.value.toUpperCase()]}}</label><!--Kullanıcı Tipi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.type.value">
                    </div>
                    <!--<div class="col-md-3">
                        <label>{{profile.systemMessages[717][profile.language.selected.value.toUpperCase()]}}</label>--><!--Başlangıç Sayfası-->
                        <!--<input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.startpage.value">
                    </div>-->
                    <div class="col-md-4">
                        <label>{{profile.systemMessages[718][profile.language.selected.value.toUpperCase()]}}</label><!--IP Adresi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.ipaddress.value">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>{{profile.systemMessages[719][profile.language.selected.value.toUpperCase()]}}</label><!--Kayıt Tarihi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.createdate.value">
                    </div>
                    <div class="col-md-3">
                        <label>{{profile.systemMessages[720][profile.language.selected.value.toUpperCase()]}}</label><!--Kayıt Eden Kişi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.createuser.value">
                    </div>
                    <div class="col-md-3">
                        <label>{{profile.systemMessages[721][profile.language.selected.value.toUpperCase()]}}</label><!--Son Düzenleme Tarihi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.modifydate.value">
                    </div>
                    <div class="col-md-3">
                        <label>{{profile.systemMessages[722][profile.language.selected.value.toUpperCase()]}}</label><!--Son Düzenleyen Kişi-->
                        <input type="text" disabled="disabled" aria-disabled="true" class="form-control" ng-model="profile.modifyuser.value">
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn bg-orange-400" ng-click="profile.show.update(_user);">{{profile.systemMessages[723][profile.language.selected.value.toUpperCase()]}}</button><!--Şifre Güncelle-->
                <button type="button" class="btn btn-primary" ng-click="profile.save()">{{profile.systemMessages[724][profile.language.selected.value.toUpperCase()]}} <i class="icon-arrow-right14 position-right"></i></button><!--Kaydet-->
            </div>
        </form>
    </div>
</div>
<!-- /profile info -->