﻿<div class="profile-passwordmodify-modal modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-orange-400">
                <button ng-click="profile.init()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">{{profile.systemMessages[733][profile.language.value.toUpperCase()]}}</h6><!--Şifre Güncelle-->
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12" ng-class="profile.oldpassword.cls">
                            <label>{{profile.systemMessages[734][profile.language.value.toUpperCase()]}}</label><!--Eski Şifre-->
                            <input type="text" class="form-control" ng-model="profile.oldpassword.value" ng-change="profile.oldpassword.change()">
                            <span class="help-block">{{profile.oldpassword.msg}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12" ng-class="profile.newpassword.cls">
                            <label>{{profile.systemMessages[735][profile.language.value.toUpperCase()]}}</label><!--Yeni Şifre-->
                            <input type="text" class="form-control" ng-model="profile.newpassword.value" ng-change="profile.newpassword.change()">
                            <span class="help-block">{{profile.newpassword.msg}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12" ng-class="profile.newpassword.again.cls">
                            <label>{{profile.systemMessages[736][profile.language.value.toUpperCase()]}}</label><!--Yeni Şifre (Tekrar)-->
                            <input type="text" class="form-control" ng-model="profile.newpassword.again.value" ng-change="profile.newpassword.again.change()">
                            <span class="help-block">{{profile.newpassword.again.msg}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button ng-click="profile.init()" type="button" class="btn btn-link" data-dismiss="modal">{{profile.systemMessages[737][profile.language.value.toUpperCase()]}}</button><!--Kapat-->
                <button ng-click="profile.modify()" type="button" class="btn bg-orange-400">{{profile.systemMessages[738][profile.language.value.toUpperCase()]}}</button><!--Güncelle-->
            </div>
        </div>
    </div>
</div>