﻿<div class="sabit6hamyarimamulgrubu-uyari-modal modal fade" style="background-color: rgb(0, 0, 0, .7)">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger-800">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Uyarı !</h6>
            </div>
            <div class="modal-body">
                <h7 class="modal-dialog modal-sm col-sm-3 col-md-6 text-center no-margin-top" style="margin-left: -5%;"><b>
                BORU<br /> MİL <br /> İŞÇİLİK <br /> RULMAN <br /> RULMAN YATAĞI <br />BOYA & PAKETLEME <br />
                </b>
                    Yukarıdaki hammadde yarımamul gruplarını eksik girdiniz.<br />Yine de devam etmek istiyor musunuz ?
                </h7>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn" data-dismiss="modal" style="width:15%">Hayır</button>
                <button ng-click="teklif.save()" type="button" class="btn bg-danger-800" style="width:15%">Evet</button>
            </div>
        </div>
    </div>
</div>
