﻿<div class="teklif-state-modal modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary-800">
                <button ng-click="teklif.init()" type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Teklif Durumu</h6>
            </div>
            <div class="modal-body text-center">
                    <h6 class="modal-dialog modal-sm">Bu teklif ile ilgili yapmak istediğiniz işlemi seçiniz :</h6>
            </div>
            <div class="modal-footer">
                <button ng-click="teklif.onaydurumu()" ng-show="onaylanmis" type="button" class="btn bg-primary-800" style="width:15%">Onayla</button>
                <button ng-click="teklif.reddetdurumu()" type="button" ng-show="onaylanmamis" class="btn bg-danger-800" style="width:15%">Reddet</button>
                <button type="button" class="btn btn" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
