﻿<ul class="fab-menu fab-menu-fixed" ng-class="cls" style="bottom: 80%;">
    <li>
        <p>
            <a class="fab-menu-btn btn bg-danger-800 btn-rounded btn-xlg" ng-click="show.modal()">
                <i class="fab-icon-open icon-download position-right"></i> Rapor Al
            </a>
        </p>
    </li>
</ul>
