﻿<ul class="fab-menu fab-menu-fixed" ng-class="cls">
    <li>
        <p>
        <a class="fab-menu-btn btn btn-primary btn-rounded btn-xlg" ng-click="show.modal()">
            <i class="fab-icon-open icon-plus3 position-left"></i> Teklif Ekle</a>
        </p>
    </li>
</ul>
