﻿<div class="teklif-hammaddeyarimamulcreate-modal modal fade" style="background-color: rgb(0, 0, 0, .7)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary-800">
                <button ng-click="urun.init()" type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Ham Madde/Yarı Mamul Ekleme</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6" ng-class="urun.urun.cls">
                                    <label>Ham Madde/Yarı Mamul Adı</label>
                                    <input type="text" class="form-control" ng-model="urun.urun.value" maxlength="512" ng-change="urun.urun.change()">
                                    <span class="help-block">{{urun.urun.msg}}</span>
                                </div>
                                <div class="col-sm-6" ng-class="urun.urunkodu.cls">
                                    <label>Ham Madde/Yarı Mamul Kodu</label>
                                    <input type="text" class="form-control" ng-model="urun.urunkodu.value" maxlength="512" disabled>
                                    <span class="help-block">{{urun.urunkodu.msg}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label style="margin-top: 4%;">Ad Girilmesine İzin Verilsin</label>
                                    <input type="checkbox" class="form-control" style="transform: scale(0.7); margin-top: -8%" ng-model="urun.adgirilsinmi.value">
                                </div>
                                <div class="col-sm-6">
                                    <label style="margin-top: 4%;">Miktar Girilmesine İzin Verilsin</label>
                                    <input type="checkbox" class="form-control" style="transform: scale(0.7); margin-top: -8%" ng-model="urun.miktargirilsinmi.value">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2%;">
                                <div class="col-sm-12" ng-class="urun.aciklama.cls">
                                    <label>Açıklama</label>
                                    <input type="text" class="form-control" ng-model="urun.aciklama.value" maxlength="512">
                                    <span class="help-block">{{urun.aciklama.msg}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="urun.init()" type="button" class="btn btn" data-dismiss="modal" style="background-color:#dfdfe8">İptal</button>
                    <button ng-click="urun.save()" type="button" class="btn bg-primary-800" id="savebuton">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>