﻿<div class="panel panel-flat">
    <div class="panel-body">
        <form action="#">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 col-md-4 no-margin-top" ng-class="teklif.cari.cls">
                        <cari-dropdown component-class="{{teklif.cari.cls}}" input-label="Müşteri Adı" input-message="{{teklif.cari.msg}}" input-value="teklif.cari.inputValue" on-select="teklif.cari.select(cari)" init="teklif.cari.init()" init-input="teklif.cari.initInput()" should-load-options-on-input-focus="teklif.cari.shouldLoadOptionsOnInputFocus"></cari-dropdown><!--Cari-->
                        <span class="help-block">{{teklif.cari.msg}}</span>
                    </div>
                    <div class="col-sm-3 col-md-2 no-margin-top">
                        <label>Teklif Kodu</label>
                        <input type="text" class="form-control" ng-model="teklif.teklifkodu.value" ng-change="teklif.teklifkodu.change()" disabled>
                    </div>
                    <div class="col-sm-3 col-md-2 no-margin-top" ng-class="teklif.tekliftarihi.cls">
                        <label>Teklif Tarihi</label>
                        <input type="date" class="form-control" ng-model="teklif.tekliftarihi.value" ng-change="teklif.tekliftarihi.change()">
                        <span class="help-block">{{teklif.tekliftarihi.msg}}</span>
                    </div>
                    <div class="col-sm-3 col-md-4 no-margin-top">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" ng-model="teklif.aciklama.value" ng-change="teklif.aciklama.change()">
                    </div>
                    <!--<div class="col-sm-3 col-md-2 no-margin-top">
                        <label>Toplam Teklif Tutarı</label>
                        <input type="text" class="form-control" ng-model="teklif.toplamtekliftutari.text" disabled>
                    </div>-->
                    <div class="col-sm-12" style="height:10%"></div>
                </div>
            </div>
            <div class="row" style="height:5%"></div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatable-highlight" ng-repeat="(key, value) in teklif.rows | groupBy: 'TEKLIFMALIYETID'" style="margin-bottom: 15px !important;">
                <thead>
                    <tr>
                        <th class="text-nowrap no-padding" style="background-color: #FFE49B;color: black;padding: 0; border:none;">
                            <button type="button" title="Güncelle" class="btn bg-orange-800 btn-icon" ng-click="teklif.show.update(key);"><i class="icon-pencil7"></i></button>
                            <button type="button" title="Sil" class="btn bg-danger-800 btn-icon" ng-click="teklif.show.delete(key, value[0].TEKLIFID);"><i class="icon-cancel-square"></i></button>
                        </th>
                        <th colspan="10" class="teklifadi" style="background-color: #FFE49B;color: black;padding: 0; border:none;">{{value[0].TEKLIFMALIYETADI}} &nbsp; {{value[0].TEKLIFADIOLCUSU}}</th>
                    </tr>
                    <tr>
                        <th class="text-center"><i class="icon-menu-open"></i></th>
                        <th style="font-size:14px" class="text-nowrap">Ham Madde/Yarı Mamul Grubu</th>
                        <th style="font-size:14px" class="text-nowrap">Adı</th>
                        <th style="font-size:14px" class="text-nowrap">Miktar</th>
                        <th style="font-size:14px" class="text-nowrap">Adet</th>
                        <th style="font-size:14px" class="text-nowrap">Ölçü/Birimi</th>
                        <th style="font-size:14px" class="text-nowrap">Girilen Birim Fiyat</th>
                        <th style="font-size:14px" class="text-nowrap">Birim Liste Fiyatı</th>
                        <th style="font-size:14px" class="text-nowrap">Tutar</th>
                        <td colspan="2"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in value track by $index">
                        <td class="text-center">{{$index + 1}}</td>
                        <td>{{row.HAMMADDEYARIMAMULADI}}</td>
                        <td>{{row.HAMMADDEYARIMAMUL}}</td>
                        <td class="text-right">{{row.MIKTARTXT}}</td>
                        <td class="text-right">{{row.KALEMADETVAL}}</td>
                        <td class="text-center">{{row.OLCUBIRIMI}}</td>
                        <td class="text-right">{{row.GIRILENFIYATVAL}}</td>
                        <td class="text-right">{{row.BIRIMLISTEFIYATIVAL}}</td>
                        <td class="text-right">{{row.TUTARTXT}}</td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-nowrap"><b>MALİYET</b></td> 
                        <td class="text-nowrap"><b>Birim Maliyet Fiyatı :</b></td>
                        <td class="text-right">{{value[0].BIRIMSATISFIYATITXT}}</td>
                        <td class="text-nowrap"><b>Adet :</b></td>
                        <td class="text-right"> {{value[0].ADETTXT}}</td>
                        <td class="text-nowrap"><b>Kar Yüzdesi(%) : </b></td>
                        <td class="text-right"> {{value[0].KARYUZDESI}}</td>
                        <td class="text-nowrap"><b>Birim Satış Fiyatı :</b></td>
                        <td class="text-right"> {{value[0].TOPLAMSATISFIYATITXT}}</td>
                        <td class="text-nowrap"><b>Toplam Teklif Tutarı :</b></td>
                        <td class="text-right"> {{value[0].MALIYETTEKLIFTUTARITXT}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!--<hr style="height:3px;border-width:0;color:gray;background-color:gray">-->
        <br />
        <div class="col-sm-4">
            &nbsp;
        </div>
        <div class="col-sm-4">
            <button type="button" ng-click="teklif.iptaletvecik()" class="btn btn" style="position:relative;">İptal Et ve Çık</button>
            <button type="button" ng-click="teklif.saveandclose()" class="btn bg-orange-800">Teklifi Güncelle ve Kapat</button>
            <span class="help-block" style="float:right; color:red;">{{teklif.msg}}</span>
        </div>
      
    </div>
</div>  