﻿<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12">
                <form class="heading-form">
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Filtrele" ng-model="urun.filter.value" ng-change="urun.filter.change()" />
                        <div class="form-control-feedback">
                            <i class="icon-search4"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="heading-elements">
            <div class="heading-btn">
                <button ng-click="urun.load()" class="btn btn-default btn-flat btn-icon no-border"><i class="icon-reload-alt"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatable-highlight">
                <thead>
                    <tr class="" style="background-color:#2f2f4d; color: white">
                        <th class="text-nowrap">Ham Madde/Yarı Mamul Adı</th>
                        <th class="text-nowrap">Ham Madde/Yarı Mamul Kodu</th>
                        <th class="text-nowrap">Açıklama</th>
                        <th class="text-nowrap">Oluşturulma Tarihi</th>
                        <th class="text-nowrap">Oluşturan Kullanıcı</th>
                        <th class="text-nowrap">Son Güncellenme Tarihi</th>
                        <th class="text-nowrap">Son Güncelleyen Kullanıcı</th>
                        <th class="text-nowrap">Onay Durumu</th>
                        <th class="text-center"><i class="icon-menu-open2"></i></th>
                    </tr>
                </thead>
                <tbody ng-show="!urun.isExist">
                    <tr>
                        <td colspan="15"><h6 class="text-center text-muted"><i class="icon-warning text-warning"></i>Sistemde Ürün bulunmuyor!</h6></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-repeat="_urun in urun.list">
                        <td class="text-nowrap">{{_urun.ADI}}</td>
                        <td class="text-nowrap">{{_urun.KODU}}</td>
                        <td class="text-nowrap">{{_urun.ACIKLAMA}}</td>
                        <td class="text-nowrap">{{_urun.CREATEDATETXT}}</td>
                        <td class="text-nowrap">{{_urun.CREATEUSER}}</td>
                        <td class="text-nowrap">{{_urun.MODIFYDATETXT}}</td>
                        <td class="text-nowrap">{{_urun.MODIFYUSER}}</td>
                        <td class="text-nowrap"><span class="label" ng-class="_urun.AKTIFCLS">{{_urun.AKTIFTXT}}</span></td>
                        <td class="text-center">
                            <div class="btn-group min-width-100">
                                <button type="button" title="Güncelle" class="btn bg-orange-800 btn-icon" ng-click="urun.show.update(_urun);"><i class="icon-pencil7"></i></button>
                                <button type="button" title="Sil" class="btn bg-danger-800 btn-icon" ng-click="urun.show.delete(_urun);"><i class="icon-cancel-square"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-center bootpag-flat"></div>
    </div>
</div>